.team-container{
    max-width: 800px;
    margin: auto;
    .title{
        text-align: center;
        font-size: 30px;
        font-weight: 800;
    }
    .teams-container {
        margin-top: 2rem;
        .team{
            border: 1px black solid;
            padding: 0.7rem;
            text-align: center;
            margin: 10px;
        }

        .selected{
            color: red;
        }
    }

    .team-select-button{
        text-align: center;
    }

    .team-occupied{
        background-color: yellow;
    }
}