.tournament-container{
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .input-container{
        margin-bottom: 1rem;
        label, input{
            display: block;
        }
        .error-container{
            color: red;
        }
    }

    .submit-container{
        display: flex;
        justify-content: center;
    }
}