.tournament{
    text-align: center;
    margin-top: 1rem;
    &-header{
        margin-top: 1rem;
        font-weight: 800;
    }
    .qrCode-container{
        margin-top: 1rem;
    }
    .submit-container{
        margin-top: 2rem;
    }
}