.tournament{
    text-align: center;
    &-header{
        margin-top: 1rem;
        font-weight: 800;
    }
    .qrCode-container{
        img{
            width: 400px;
            height: 400px;
        }
    }
    .submit-container{
        margin-top: 2rem;
    }
}